* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box; 
	box-sizing: border-box;
}


html, body {
	height: 100%;
	max-width:100%;
	margin: 0; 
	padding: 0;
}


body {
	display : table;
	width: 100%;
	color: black;
	font-family: Roboto-Regular;
	font-size: 20px;
	color: #4D4D4D;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@font-face{
 font-family: "Roboto-Regular";
 src: url("../font/Roboto/Roboto-Regular.ttf") format('truetype');
}

@font-face {
 font-family: "Roboto-Medium";
 src: url("../font/Roboto/Roboto-Medium.ttf") format('truetype');
 }

@font-face{
 font-family: "Roboto-Bold";
 src: url("../font/Roboto/Roboto-Bold.ttf") format('truetype');
}

@font-face{
 font-family: "Roboto-Black";
 src: url("../font/Roboto/Roboto-Black.ttf") format('truetype');
}


.bold{
	font-family: Roboto-Bold;
}

.black{
	font-family: Roboto-Black;
}


header{
	width:100%;
	background-color: white;
	font-family: Roboto-Bold;

	padding-top: 2vh;
	padding-bottom: 2vh;
}

header h2{
	color:#D6006D;
	font-size: 40px;
	padding-bottom: 2vh;
}

nav{
	margin: 0 10vw;
}

nav a{
	color: #4D4D4D;
	font-size:20px;
	display:inline-block; 
	margin:0;

}

nav a:hover{
	color:#02C4B3;
}	


nav a:after {
	display:block;
    content: '';
	border-bottom: solid 2px #02C4B3;  
	transform: scaleX(0);  
	transition: transform 250ms ease-in-out;
	transform-origin:  0% 50%;
}

nav a:hover:after { 
	transform: scaleX(1); 
}

nav a.active{
	color:#02C4B3;
}

nav a.active:after{
	transform:scaleX(1);
}

#bg-1{
	background-image: url("../ressources/bg1.png"); 
 	background-repeat: no-repeat;
  	background-size: 100% 60%; 

}

#bg-2{
	background-image: url("../ressources/bg2.png"); 
 	background-repeat: no-repeat;
  	background-size: 100% 100%; 
}

#bg-3{
	background-image: url("../ressources/bg3.png"); 
 	background-repeat: no-repeat;
  	background-size: 100% 100%; 
}

#all-in-on{
	margin-top: 30vh;
}

#all-in-on h2{
	color:#D6006D;
}

#all-in-on .div-left{
	padding-left: 20vw;
}

#all-in-on img{
	width:50%;
}


#features{
	margin-top:20vh;
}

#features h2{
	color:#25B2A9;
	padding-left: 18.5vw;
	margin-bottom: 10vh;
}

#features #images-features{
	margin:0 15vw;
}

#features img{
	height:25vh;
	width:auto;
}




#marketplace{
	margin-top: 15vh;
	padding-top:20vh;
}

#marketplace h2{
	color:#D6006D;
	padding-bottom:3vh;
}

#marketplace .div-left{
	padding-left: 20vw;
}

#marketplace .div-left p{
	margin-bottom: 4vh;
}


#marketplace img{
	height:50vh;
	margin-bottom: 5vh;
	padding-left: 10vw;
}

#marketplace a:hover{
	text-decoration: none;
}


#marketplace #seller-button{	  
	margin-left:5vw;
	width: 50%;
}





#testimonials{
	margin-top:15vh;
	padding-bottom:30vh;
}

#testimonials a{
	text-decoration: none;
}

#testimonials h2{
	color:#25B2A9;
	padding-left: 18.5vw;
	margin-bottom: 10vh;
}

#testimonials svg{
	filter: drop-shadow(3px 3px 8px rgba(0,0,0,0.2));

}

#testimonials svg circle{
	cursor: pointer;
}

#testimonials svg.active circle{
	fill:#25B2A9;
}





#fees{
	margin-top:15vh;
}

#fees h2{
	color:#25B2A9;
	padding-left: 18.5vw;
	margin-bottom: 10vh;
}

#fees .card{
	width:18vw;
	border-radius: 20px;
	filter: drop-shadow(3px 3px 8px rgba(0,0,0,0.2));
	height: 77vh;
}

#fees svg{
	width:18vw;
	height:25vh;
}

#fees h3{
	font-family:Roboto-Bold;
	color:white;
	margin:0 2vw;
}

#fees .card-top{
	height:40vh;
}

#fees #card-top-1{
    background-image: url("../ressources/campaign-bg.png"); 
 	background-repeat: no-repeat;
  	background-size: 100% 100%;
}


#fees #card-top-2{
    background-image: url("../ressources/campaign-bg.png"); 
 	background-repeat: no-repeat;
  	background-size: 100% 100%;
}

#fees #card-top-3{
    background-image: url("../ressources/campaign-bg.png"); 
 	background-repeat: no-repeat;
  	background-size: 100% 100%;
}


#fees .text-part{
	margin:0 5px;
	height: 20vh;
}

#fees a{
	text-decoration: none;
}

#fees button{
	margin-bottom: 2vh;
	width: 80%;
	border-radius: 25px;
}

#fees .star{
	font-size: 12px;
	margin-bottom: 0;
}



#learn-more{
	margin-top:15vh;
	padding-top: 20vh;
	padding-bottom: 60vh;
}

#learn-more h2{
	color:#D6006D;
	padding-left: 18.5vw;
	padding-bottom: 5vh;
}

#learn-more a:hover{
	text-decoration: none;
}

#learn-more button{
	font-size:30px;
	margin-bottom:5vh;
	width:35%;
	padding:3vh 0;
}


footer{
	display : table-row;
	width:100%;
	height: 0vh;
	background-color: #4D4D4D;
}





button{
	font-family:Roboto-Bold;
	letter-spacing: 2px;
	border-style: solid;
	border-width:3px;
	font-size: 20px;
	padding: 15px 15px;
	filter: drop-shadow(3px 3px 8px rgba(0,0,0,0.2));
}

button:focus{
	outline:none;
}

.redbutton{
	  background-color: #D4026D;
	  border-color: #D4026D;
	  border-radius:15px;
	  color: white;
	  text-align: center;
	  text-decoration: none;
	  cursor: pointer;
	  transition: 0.5s;
}

.redbutton:hover{
	  background-color: #ffffffb2;
	  color: #D4026D;	 
}


.greenbutton{
	  background-color: #25B2A9;
	  border-color: #25B2A9;
	  border-radius:15px;
	  color: white;
	  text-align: center;
	  text-decoration: none;
	  cursor: pointer;
	  transition: 0.5s;
}

.greenbutton:hover{
	  background-color: #ffffffb2;
	  color: #25B2A9;	 
}

.greybutton{
	  background-color: #5A6080;
	  border-color: #5A6080;
	  border-radius:15px;
	  color: white;
	  text-align: center;
	  text-decoration: none;
	  cursor: pointer;
	  transition: 0.5s;
}

.greybutton:hover{
	  background-color: #ffffffb2;
	  color: #5A6080;	 
}


.greenbutton-outter{
	  background-color: #ffffff00;
	  border-color: #25B2A9;
	  border-radius:15px;
	  color: #25B2A9;
	  text-align: center;
	  text-decoration: none;
	  cursor: pointer;
	  transition: 0.5s;
}

.greenbutton-outter:hover{
	  background-color: #25B2A9;
	  color: white;	 
}