* {
    padding: 0;
    margin: 0;
}

body {
	color: black;
	font-family: Roboto-Bold;
	font-size: 20px;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@font-face {
 font-family: "Roboto-Medium";
 src: url("../font/Roboto/Roboto-Medium.ttf") format('truetype');
 }

@font-face{
 font-family: "Roboto-Bold";
 src: url("../font/Roboto/Roboto-Bold.ttf") format('truetype');
}

h1,h2,h3,h4,h5{
	text-transform: uppercase;
}

.text-center{
	text-align: center;
}

header{
	width:100%;
	background-color: #4D4D4D;
}

#logo-header{
	padding-top:40px;
	padding-bottom:30px;

}

.container-flex{
	display: flex;
	justify-content: space-around;
}


#header-rs{
	padding-bottom: 40px;
}



#section1{
	min-height: 80vh;
	background-image: url("../ressources/bannière header mobile.png"); 
 	background-repeat: no-repeat;
  	background-size: 100%;
}

#bard{
	filter: drop-shadow(3px 3px 8px rgba(0,0,0,0.5));
	margin-bottom:5vh;
	
}


button{
	text-transform: uppercase;
	font-family:Roboto-Bold;
	letter-spacing: 2px;
	border-style: solid;
	border-width:3px;
	font-size: 16px;
	padding: 15px 5px;
	width:60%;
	filter: drop-shadow(3px 3px 8px rgba(0,0,0,0.5))
}

.button:focus{
	outline:none;
}


.redbutton{
	  background-color: #D4026D;
	  border-color: #D4026D;
	  border-radius:25px;
	  color: white;
	  text-align: center;
	  text-decoration: none;
	  cursor: pointer;
	  transition: 0.5s;
}


.redbutton:hover{
	  background-color: #ffffffb2;
	  color: #D4026D;
}

.whitebutton{
	  background-color: #ffffffb2;
	  border-color: #D4026D;
	  border-radius:25px;
	  color: #D4026D;
	  text-align: center;
	  text-decoration: none;
	  cursor: pointer;
	  transition: 0.5s;
}

.whitebutton:hover{
	  background-color: #D4026D;
	  color: white;
}

#button-newsletter{
	text-decoration: none;
}

#section2{
	min-height: 80vh;
	background-image: url("../ressources/vague blanche transition mobile.png"); 
 	background-repeat: no-repeat;
  	background-size: 100vw;
  	margin-bottom: 5vh;
}

#section2 h1{
		color:#D4026D;
		font-size:30px;
}

#section2 img{
	margin-bottom: 5vh;
	filter: drop-shadow(3px 3px 8px rgba(0,0,0,0.5));
}


footer{
	padding-top: 5vh;
	background-color: #4D4D4D;
}


footer h1{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #E79AB3;
	font-size: 30px;
	max-width:60%;
}

footer #h1p1{
	font-size: 20px;
	margin:1vw;
}


form input[placeholder]{
	margin-left:5%;
	margin-bottom: 20px;
	padding:10px 15px;
	font-family:Roboto-Bold;

	font-size: 15px;
	border-radius:35px;
	border-style: solid !important;
	border-color: white;
}



form #input2{
	padding-right:8vw;
}

#redbuttonform{
	 display: block;
	  margin-left: auto;
	  margin-right: auto;
	  margin-top: 2vh;
	  background-color: #D4026D;
	  border-style: solid 1px;
	  border-color: #D4026D;
	  border-radius:25px;
	  color: white;
	  padding: 15px 5px;
	  text-align: center;
	  text-decoration: none;
	  cursor: pointer;
	  transition: 0.5s;

}


#redbuttonform:hover{
	  background-color: #ffffffd8;
	  color: #D4026D;
}


::placeholder{
	color:lightgrey;
}


footer label{
	margin-top:2vh;
	margin-bottom: 2vh;
	margin-left:5%;
	margin-right:5%;
	font-family: Roboto-Medium;
	font-size: 17px;
	color:white;
}

#logo-fin{
  display: block;
  padding-top: 5vh;
  padding-bottom: 4vh;
  margin-left: auto;
  margin-right: auto;
}



/* MEDIA QUERIES */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  	#header-rs{
	padding-bottom: 0;
	align-items: center;
	}

	#header-rs img{
	width:50%;
	}

	#logo-header{
	width:70%;
	}

	#bard {
		margin-top:5vh;
		width:80%;
	}

	#section1{
	min-height: 80vh;
	background-image: url("../ressources/bannière header web.png"); 
 	background-repeat: no-repeat;
  	background-size: 100%;
	}

	#section1-buttons{
		margin-top:15vh;
	}

	#section1-buttons button{
		margin-bottom: 3vh;
		padding: 30px 5px;
		width:65%;
		border-radius: 60px;
	}

	#section2{
		padding-top:10vh;
	}

	#section2 img{
		width:20vw;
	}

	#section2 #img1{
		padding-left: 10vw;
	}

	#section2 #img3{
		padding-right:10vw;
	}

	footer{
		padding-top:5vh;
	}

	footer #div-container{
		max-height:55vh;
	}
	footer h1{
		display:inline;
		padding-left: 12vw;
		color: #E79AB3;
		font-size: 40px;
		letter-spacing: 2px;

	}

	footer #h1p1{
		display:inline;
		margin:0;
		font-size: 40px;

	}

	footer form{
		padding-left:12vw;
	}

	form input[placeholder]{
	display: block;
	padding:15px 15px;	
	}

	form #input1{
		width:20%;
	}

	form #input2{
		width:30%;
	}

	#redbuttonform{
		margin-left: 4vw;
		width:20%;
	}

	form label{
		padding-right:20vw;
	}

	#logo-fin{
		position: relative;
		left:30%;
		bottom:18vh;
		width: 6vw;

	}
	
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
	#header-rs{
	padding-bottom: 0;
	align-items: center;
	}

	#header-rs img{
	width:50%;
	}

	#logo-header{
	width:70%;
	}

	#bard {
		margin-top:5vh;
		width:80%;
	}

	#section1{
	min-height: 80vh;
	background-image: url("../ressources/bannière header web.png"); 
 	background-repeat: no-repeat;
  	background-size: 100%;
	}

	#section1-buttons{
		margin-top:15vh;
	}

	#section1-buttons button{
		margin-bottom: 3vh;
		padding: 30px 5px;
		width:65%;
		border-radius: 60px;
	}

	#section2{
		padding-top:10vh;
	}

	#section2 img{
		width:20vw;
	}

	#section2 #img1{
		padding-left: 10vw;
	}

	#section2 #img3{
		padding-right:10vw;
	}

	footer{
		padding-top:5vh;
	}

	footer #div-container{
		max-height:55vh;
	}
	footer h1{
		display:inline;
		padding-left: 12vw;
		color: #E79AB3;
		font-size: 40px;
		letter-spacing: 2px;

	}

	footer #h1p1{
		display:inline;
		margin:0;
		font-size: 40px;

	}

	footer form{
		padding-left:12vw;
	}

	form input[placeholder]{
	display: block;
	padding:15px 15px;	
	}

	form #input1{
		width:20%;
	}

	form #input2{
		width:30%;
	}

	#redbuttonform{
		margin-left: 4vw;
		width:20%;
	}

	form label{
		padding-right:20vw;
	}

	#logo-fin{
		position: relative;
		left:30%;
		bottom:18vh;
		width: 6vw;

	}

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
	  #header-rs{
	padding-bottom: 0;
	align-items: center;
	}

	#header-rs img{
	width:50%;
	}

	#logo-header{
	width:70%;
	}

	#bard {
		margin-top:5vh;
		width:80%;
	}

	#section1{
	min-height: 80vh;
	background-image: url("../ressources/bannière header web.png"); 
 	background-repeat: no-repeat;
  	background-size: 100%;
	}

	#section1-buttons{
		margin-top:15vh;
	}

	#section1-buttons button{
		margin-bottom: 3vh;
		padding: 30px 5px;
		width:65%;
		border-radius: 60px;
	}

	#section2{
		padding-top:10vh;
	}

	#section2 img{
		width:20vw;
	}

	#section2 #img1{
		padding-left: 10vw;
	}

	#section2 #img3{
		padding-right:10vw;
	}

	footer{
		padding-top:5vh;
	}

	footer #div-container{
		max-height:55vh;
	}
	footer h1{
		display:inline;
		padding-left: 12vw;
		color: #E79AB3;
		font-size: 40px;
		letter-spacing: 2px;

	}

	footer #h1p1{
		display:inline;
		margin:0;
		font-size: 40px;

	}

	footer form{
		padding-left:12vw;
	}

	form input[placeholder]{
	display: block;
	padding:15px 15px;	
	}

	form #input1{
		width:20%;
	}

	form #input2{
		width:30%;
	}

	#redbuttonform{
		margin-left: 4vw;
		width:20%;
	}

	form label{
		padding-right:20vw;
	}

	#logo-fin{
		position: relative;
		left:30%;
		bottom:18vh;
		width: 6vw;

	}
}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	  
}

