* {
    padding: 0;
    margin: 0;
}

body {
	color: black;
	font-family: Roboto-Bold;
	font-size: 20px;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@font-face {
 font-family: "Roboto-Medium";
 src: url("../font/Roboto/Roboto-Medium.ttf") format('truetype');
 }

@font-face{
 font-family: "Roboto-Bold";
 src: url("../font/Roboto/Roboto-Bold.ttf") format('truetype');
}

h1,h2,h3,h4,h5{
	text-transform: uppercase;
}

.text-center{
	text-align: center;
}

header{

	background-color: #4D4D4D;
}

#logo-header{
	padding-top:40px;
	padding-bottom:30px;
}

.container-flex{
	display: flex;
	justify-content: space-around;
}


#header-rs{
	padding-bottom: 40px;
	margin-right: 30px;
	margin-left: 30px;
}


#section1{
	min-height: 80vh;
	background-image: url("../ressources/bannière header mobile.png"); 
 	background-repeat: no-repeat;
  	background-size: 100%;
}

#bard{
	filter: drop-shadow(3px 3px 8px rgba(0,0,0,0.5));
	
}


button{
	text-transform: uppercase;
	font-family:Roboto-Bold;
	letter-spacing: 2px;
	border-style: solid;
	font-size: 16px;
	width:50%;
	filter: drop-shadow(3px 3px 8px rgba(0,0,0,0.5))
}

.button:focus{
	outline:none;
}


.redbutton{
	  background-color: #D4026D;
	  border-style: solid 1px;
	  border-color: #D4026D;
	  border-radius:25px;
	  color: white;
	  padding: 15px 5px;
	  text-align: center;
	  text-decoration: none;
	  cursor: pointer;
	  transition: 0.5s;
}


.redbutton:hover{
	  background-color: #ffffffb2;
	  color: #D4026D;
}

.whitebutton{
	  background-color: #ffffffb2;
	  border-style: 1px solid;
	  border-color: #D4026D;
	  border-radius:25px;
	  color: #D4026D;
	  padding: 15px 5px;
	  text-align: center;
	  text-decoration: none;
	  cursor: pointer;
}

.whitebutton:hover{
	  background-color: #D4026D;
	  color: white;
}


#section2{
	min-height: 80vh;
	background-image: url("../ressources/vague blanche transition mobile.png"); 
 	background-repeat: no-repeat;
  	background-size: 100vw;
}

#section2 h1{
		color:#D4026D;
}

#section2 img{
	filter: drop-shadow(3px 3px 8px rgba(0,0,0,0.5));
}


footer{
	background-color: #4D4D4D;
}


footer h3,h5{
	color: #E79AB3;
}

form input[placeholder]{
	margin-left:5%;
	margin-bottom: 20px;
	padding:10px 15px;
	font-family:Roboto-Bold;

	font-size: 15px;
	border-radius:25px;
	border-style: solid !important;
	border-color: white;
}


.redbuttonform{
	  background-color: #D4026D;
	  border-style: solid 1px;
	  border-color: #D4026D;
	  border-radius:25px;
	  color: white;
	  padding: 15px 5px;
	  text-align: center;
	  text-decoration: none;
	  cursor: pointer;
	  transition: 0.5s;
}


.redbuttonform:hover{
	  background-color: #ffffffd8;
	  color: #D4026D;
}


::placeholder{
	color:lightgrey;
}

footer label{
	margin-left:5%;
	margin-right:5%;
	font-family: Roboto-Medium;
	font-size: 17px;
	color:white;
}



/* MEDIA QUERIES */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  #teaser{
	 right:0;
	}

	#logo_top{
		width:12%;
		top:50vh;
	}

	#phrases {
	    top:56vh;
	    font-size: 40px;
	}

	#img_team{
		height: 50vh;
	}
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

   #teaser{
	 right:0;
	}

	#logo_top{
		width:12%;
		top:50vh;
	}

	#phrases {
	    top:58vh;
	    font-size: 40px;
	}

	#img_team{
		height: 50vh;
	}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
	  #teaser{
		 right:0;
		}

		#logo_top{
			width:12%;
			top:50vh;
		}

		#phrases {
		    top:58vh;
		    font-size: 40px;
		}

		#img_team{
			height: 50vh;
		}
		
		.chaine{
			font-size: 1.5rem;
		}

		#rs h2{
			font-size: 1.5rem;
		}
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	  #teaser{
		 right:0;
		}

		#logo_top{
			width:12%;
			top:50vh;
		}

		#phrases {
		    top:58vh;
		    font-size: 40px;
		}

		#img_team{
			height: 50vh;
		}
}


@media (min-width: 0px) and (max-width: 767px) and (orientation: landscape) {
	#logo_top{
		width:15%;
		top:15vh;
	}

	#phrases {
	    top:30vh;
	    font-size: 30px;
	}

	#chaines h1{
		font-size: 30px;
	}

	#nav{
		padding: 0 10px;
	}

	svg{
	width:25%;
	padding:30px 20px;
	}

}

@media (width: 320px) {
	#logo_top{
		width:25%;
		top:30vh;
	}

	#phrases {
	    top:45vh;
	    font-size: 25px;
	}

	#chaines h1{
		font-size: 30px;
	}

	#nav{
		padding: 0 10px;
	}

	svg{
	width:25%;
	padding:30px 20px;
	}

}

